---
import "../styles/global.css";

import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";

export interface Props {
    title?: string;
    description?: string;
    fullWidth?: boolean;
    hideFooter?: boolean;
}

const {
    title,
    description,
    fullWidth = false,
    hideFooter = false,
} = Astro.props;

const overflowClass = hideFooter ? "overflow-hidden" : "";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class={`h-screen flex flex-col items-stretch ${overflowClass}`}>
        <Header />
        {
            fullWidth && (
                <div class="flex-grow flex flex-col items-center">
                    <slot />
                </div>
            )
        }

        {
            !fullWidth && (
                <div class="flex-grow flex flex-col items-center max-w-3xl mx-auto py-6">
                    <slot />
                </div>
            )
        }

        {!hideFooter && <Footer />}
    </body>
</html>
