---
import Separator from "../components/shared/Separator.astro";
const showHtml = Astro.slots.has("html");
const showCss = Astro.slots.has("css");
const showJs = Astro.slots.has("js");
const showExternalRepo = Astro.slots.has("external-repo");

const { slug } = Astro.props;
---

<div class="w-full">
    <!-- DEMO -->
    <div
        transition:name={`experiment-image-${slug}`}
        transition:animate="initial"
    >
        <slot name="demo" />
    </div>

    <Separator/>

    <h2 class="text-center text-2xl py-5">Source Code</h2>

    {
        showHtml && (
            <details>
                <summary class="py-2">HTML</summary>
                <slot name="html" />
            </details>
        )
    }

    {
        showCss && (
            <details>
                <summary class="py-2">CSS</summary>
                <slot name="css" />
            </details>
        )
    }

    {
        showJs && (
            <details>
                <summary class="py-2">JS</summary>
                <slot name="js" />
            </details>
        )
    }

    {showExternalRepo && <slot name="external-repo" />}

    <script>
        document.addEventListener("astro:page-load", (event) => {
            const regex = /\/playground\/.*/;
            const path = event.target.location.pathname;

            if (!regex.test(path)) {
                window._ongaku?.stop();
                window._init = () => {};
            }

            requestIdleCallback(() => {
                if (!window?._init) {
                    window?._init();
                }
            });
        });
    </script>
</div>
